@use 'variables'
@import 'mixins'

@mixin player($color, $bdrcolor, $bdrthickness, $bgcolor, $shadow)
  border: $bdrthickness solid $bdrcolor
  border-radius: 10px
  background-color: $bgcolor
  @include flex(row, space-evenly,center)
  padding: 30px
  margin: 10px
  color: $color
  filter: drop-shadow(0 0 $shadow $bdrcolor)

.mainHundredContainer
  width: 100%
  height: 100vh
  display: grid
  grid-template-rows: 15% 1fr

.hundredHeader
  align-self: center
  justify-self: center
  text-align: center
  .hundredTitle
    @include title(variables.$cinnamon-satin, 10px)
  .hundredSubtitle
    @include title(variables.$nyanza, 5px)
.gameContainer
  width: 100%
  @include flex(row,center,center)
  .gameBox
    width: 95%
    @media screen and (min-width: 700px)
      width: 500px
  .player
    @include player(variables.$nyanza,variables.$nyanza, 1px, variables.$dark-purple, 0px )
  .playerActive
    @include player(variables.$dark-purple, variables.$cinnamon-satin,2px, variables.$nyanza, 5px)
  .playerWinner
    @include player(variables.$nyanza, red, 2px,variables.$cinnamon-satin, 10px)

  .diceContainer
    border: 2px solid variables.$nyanza
    color: variables.$nyanza
    border-radius: 10px
    @include flex(column, space-evenly,center)
    padding: 30px
    margin: 10px
    .dice
      margin: 10px
      margin-top: 20px
      width: 50px
      height: 50px
      .diceIcon
        width: 50px
        height: 50px
    .currentPlayer
      color: variables.$sunray
      filter: drop-shadow(0 0 2px variables.$sunray)
      font-size: 1.2em
      font-weight: bolder
    .winner
      color: variables.$cinnamon-satin
      font-weight: bolder
    .buttonContainer
      @include flex(column, center, space-evenly)
      button
        margin: 20px
        padding: 5px 15px
        border-radius: 20px
        border: none
        background-color: variables.$nyanza
        filter: drop-shadow(0 0 5px variables.$nyanza)
        font-weight: bold
        padding: 5px 15px
        text-align: center
        font-size: 1.1em
        min-width: 250px

.currentContainer, .totalContainer
  @include flex(column, center,center)
  font-weight: bold
  margin: 5px
  padding: 5px 10px
  border-radius: 10px
.totalContainer
  font-size: 1.1em
  color: variables.$dark-purple
