@use 'variables'
@import 'mixins'

@mixin answer($color)
  margin: 10px
  padding: 5px 15px
  border-radius: 20px
  border: none
  background-color: $color
  filter: drop-shadow(0 0 5px $color)
  font-weight: bold
  padding: 5px 15px
  text-align: center
  min-width: 250px

.mainQuizzContainer
  width: 100%
  height: 100vh
  display: grid
  grid-template-rows: 15% 1fr

.quizzHeader
  align-self: center
  justify-self: center
  text-align: center
  .quizzTitle
    @include title(variables.$cinnamon-satin, 10px)
  .quizzSubtitle
    @include title(variables.$nyanza, 5px)

.gameContainer
  @include flex(row, center,center)
  .gameBox
    width: 100%
    min-height: 500px
    padding: 20px
    @include flex(column,center,space-evenly)
   
    .quizzQuestion

      .question
        @include title(variables.$cinnamon-satin, 10px)
        text-align: center
        margin-bottom: 10px
        margin-top: 30px
        font-size: 1.2em
        &::before
          content: '=> '
      .answersList
        @include flex(column, center, center)
        list-style: none
        margin: 10px
        .answer
          @include answer($color: variables.$nyanza)
          &:hover
            background-color: pink
        .correctAnswer
          @include answer($color: lightgreen)
        .wrongAnswer
          @include answer($color: red)
        .answerSelected
          @include answer($color: lightblue)
    .validationBox
      border: 2px solid variables.$nyanza
      border-radius: 10px
      filter: drop-shadow(0 0 5px variables.$nyanza)
      width: 100%
      max-width: 600px
      padding: 20px
      margin-top: 20px
      @include flex(column, center, center)
      text-align: center
      background-color: variables.$dark-purple
      .result
        margin: 10px
        .score
          color: variables.$sunray
          font-size: 1.2rem
        .phrases
          margin-top: 10px
          color: variables.$nyanza
      .button
        @include answer(variables.$nyanza)
        font-size: 20px
        cursor: pointer
        &:hover
          @include answer(variables.$sunray)
          
