@use 'variables'
@import 'mixins'

@mixin dice($color, $bgcolor)
  // background-color: $bgcolor
  font-weight: bold
  border-radius: 10px
  width: 40px
  height: 40px
  @media screen and (min-width: 700px)
    width: 50px
    height: 50px
  @include flex(column, center, center)
  .diceIcon
    width: 40px
    height: 40px
    @media screen and (min-width: 700px)
      width: 50px
      height: 50px
    color: $bgcolor

.mainTenziesContainer
  width: 100%
  height: 100vh
  display: grid
  grid-template-rows: 15% 1fr

.tenziesHeader
  align-self: center
  justify-self: center
  text-align: center
  .tenziesTitle
    @include title(variables.$cinnamon-satin, 10px)
  .tenziesSubtitle
    @include title(variables.$nyanza, 5px)

.gameContainer
  @include flex(row, center, center)
  .gameBox
    width: 95%
    border: 5px solid variables.$cinnamon-satin
    filter: drop-shadow(0 0 2px variables.$cinnamon-satin)
    background-color: variables.$dark-purple
    border-radius: 10px
    color: variables.$nyanza
    @include flex(column, space-evenly, center)
    @media screen and (min-width: 700px)
      width: 500px
      height: 500px
    .scores

      @include flex(row, space-evenly, center)
      width: 100%
      padding: 10px
      .currentScore, .bestScore
        @include flex(column, center, center)
        margin: 10px
        text-align: center
        color: variables.$sunray
    .diceContainer
      border: 5px solid variables.$cinnamon-satin
      border-radius: 10px
      width: 90%
      display: grid
      grid-template-columns: repeat(5, 1fr)
      gap: 15px
      padding: 15px
      .dice
        justify-self: center
        @include dice(variables.$dark-purple, variables.$cyan-process)
      .diceSelected
        justify-self: center
        @include dice(variables.$dark-purple, variables.$sunray)
        filter: drop-shadow(0 0 2px variables.$sunray)
  .rollButton
    margin: 10px
    padding: 5px 15px
    border-radius: 20px
    border: none
    background-color: variables.$nyanza
    filter: drop-shadow(0 0 5px variables.$nyanza)
    font-weight: bold
    padding: 5px 15px
    text-align: center
    min-width: 250px
    cursor: pointer
